.forecast__container {
    text-align: center;
    margin: 50px 0px 0px;

    .forecast__day {
        text-align: center;
    }

    @media (max-width: 768px) {
        flex-direction: column;

        .forecast__day {
            margin: 15px 0px;

            &:first-child {
                margin-top: 0px;
            }

            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
}