body {
  margin: 50px 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #3f3f3f;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.weather-card {
  margin: 10px;
  background: white;
  border-radius: 10px;
}
.forecast-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.forecast-list li {
  padding: 10px 0px;
}
.forecast-list li > span {
  float: right;
}
.weather-card .btn {
  margin: 10px;
}
