.weather-city {
  position: relative;
  padding: 50px 0px;
  color: white;
  text-align: center;
  z-index: 15;
  transition: 500ms ease-in-out;
  &.active {
    transform: scale(0.8);
    margin-top: -50px;
  }

  .weather-city--icon {
    color: #09b1cc;
    font-size: 30px;
  }

  .weather-icon {
    margin-bottom: 15px;
    font-size: 46px;
    color: #bbd847;
  }

  .weather-city--temp-breakdown {
    .min {
      margin-right: 15px;
    }
    .hum {
      display: block;
      margin-top: 10px;
      font-size: 90%;
    }
  }

  .weather-city--temp {
    font-size: 4rem;
    margin: 5px;

    span {
      padding-left: 10px;
      font-size: 20px;
    }
  }
}
