.weather-city {
    color: #3f3f3f;
    text-align: center;

    .weather-city--icon {
        color: #e021e0;
        width: 60px;
    }

    .weather-city--temp {
        font-size: 4rem;
        margin: 5px;

        span {
            padding-left: 10px;
            font-size: 20px;
        }
    }
}